<nav id="app-header">
    <div class="d-flex align-items-center justify-content-between p-3">
        <div class="page-logo flex-grow-1">
            <h3 class="demo-title cursor-pointer" routerLink="app">
                {{config.title}}
            </h3>

            <div>
                Powered By
                <a href="https://www.xano.com" target="_blank">
                    <img class="logo clickable"
                         src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                         width="75px"
                    />
                </a>
            </div>
        </div>
    </div>
</nav>

