<section id="home">
    <div class="container p-4">
        <div class="d-flex justify-content-center align-items-center flex-column mt-5">
            <div class="text-center">
                <h2>Send Data to Your Slack Channel</h2>
                <p>This input will send text to your Slack channel you set up.</p>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Text</mat-label>
                    <input matInput (keyup.enter)="send()" [formControl]="textInput" autocomplete="off"/>
                    <mat-icon matSuffix class="cursor-pointer" (click)="send()">send</mat-icon>
                </mat-form-field>
            </div>
        </div>

    </div>
</section>
